.slp-button {
    background-color: #CA0014;
    border: 1px solid #CA0014;
    padding: 14px 16px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    display: block;
    text-align: center;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 2;

    &--white {
        background-color: #fff;
        color: #000;
        &:hover {
            background-color: #CA0014 !important;
            border: 1px solid #CA0014 !important;
            transition: 0.3s;
        }
    }

    &:hover {
        color: #fff;
        border: 1px solid #fff;
        background-color: #090909;
        transition: 0.3s;
    }
}